*{
    margin: 0;
}
h1{
    background-color: rgb(80, 12, 12);
    text-align: center;
    font-size: 50px;
    color: white;
}
h2 {
    color: rgb(14, 4, 103);
}
.navbar {
    background-color: rgb(80, 12, 12);
    height: 100px;
    margin: auto;
    display: flex;
}

.navlink {
    text-decoration: none;
    font-size: 30px;
    color: rgb(148, 133, 106);
    margin: auto;
    font-weight: bold;
}

.navlink:hover {
    color: rgb(207, 197, 197);
}

.navbar a.active {
    color: white;
}
.container {
    width: 1500px;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

.productCard {
    background: linear-gradient(rgb(187, 187, 221),rgb(238, 72, 42));
    border: 4px inset rgb(203, 9, 9);
    margin: 10px;
}